.form-gap {
  padding-top: 70px;
}

.panel {
  height: 400px;
}
.errorText {
  min-height: 50px;
}
.patternText {
  min-height: 50px;
}
.confirmPassword {
  min-height: 27px;
}

.required {
  color: rgb(255, 61, 61);
  float: right;
}
.row {
  min-height: 550px;
}
