<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="errorText">
            <div class="alert alert-danger" *ngIf="_firebaseAuth.errorMessage">
              <p class="m-0">{{ _firebaseAuth.errorMessage }}</p>
            </div>
          </div>
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Password Reset</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form
                [formGroup]="resetForm"
                id="register-form"
                autocomplete="off"
                class="form"
                (ngSubmit)="resetPassword()"
              >
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-envelope color-blue"></i
                    ></span>
                    <div class="patternText">
                      <em class="required" *ngIf="passwordIsInvalid()"
                        >Required Pattern: min(6), max(20) characters, 1
                        lowercase, 1 uppercase, 1 special character, 1 number
                      </em>
                    </div>
                    <input
                      id="password"
                      name="password"
                      placeholder="Enter New Password"
                      class="form-control"
                      type="password"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': passwordIsInvalid() }"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div
                    class="col-12 mx-auto"
                    (mouseenter)="buttonHover = true"
                    (mouseleave)="buttonHover = false"
                  >
                    <button
                      class="btn btn-lg btn-primary btn-block mt-2 col-12"
                      [disabled]="resetForm.invalid"
                    >
                      Reset Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
